/bin/
/javadoc/
/doc/
**/.idea/**
./.settings/**
Framework/framework.iml.idea\
target\
TEST.log
framework.iml
junit.log
TEST.log
target\
imageOrganizer.iml
target\
perception.iml
Perception.log
Perception.log.1
Perception.log.1.lck
Perception.log.lck
Perception2.iml
framework.iml
TSE.iml
.idea\
perception.iml
