/bin/
/javadoc/
/doc/
**/.idea/**
./.settings/**
Framework/framework.iml
TEST.log
logging.proerties
junit.log
Perception.log
.~lock.IssuesLog.xlsx#
logging.properties
Perception.log.lck
TSE.iml
perception.iml
Perception.log.1
Perception.log.1.lck
Perception.log.2
Perception.log.2.lck
