/bin/
/javadoc/
/doc/
/.idea/*
/.settings/
/*.properties
/*.jpg
/*.transform
.idea/workspace.xml
default.properties
logging.properties
NY2-transform.jpg
NY2.properties
NY2.transform
.idea/workspace.xml
default.properties
logging.properties
NY2-transform.jpg
NY2.properties
NY2.transform
.idea/workspace.xml
.idea/workspace.xml
Perception.log.10
Perception.log.10.lck
Perception.log.11
Perception.log.11.lck
Perception.log.12
Perception.log.13
Perception.log.13.lck
Perception.log.14
Perception.log.14.lck
Perception.log.15
Perception.log.15.lck
Perception.log.16
Perception.log.16.lck
Perception.log.17
Perception.log.17.lck
Perception.log.3.lck
Perception.log.7
Perception.log.7.lck
Perception.log.8
Perception.log.8.lck
Perception.log.9
Perception.log.9.lck
.idea/workspace.xml
